.container {
  max-width: 114rem;
  margin: 0 auto;
  //padding: 0 2rem;
}

.test{
  width: 100%;
  height: 30rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    font-size: 10rem;
    color: white;
  }
}

$white: #ffffff;
$black: #000000;
$black-two: #363636;
$silver: #c8c9cd;
$greyish-brown: #474747;
$gunmetal: #505d68;
$gunmetal-two: #424b5a;
$battleship-grey: #737a87;
$cobalt: #214099;
$cloudy-blue: #c2d1d9;
$pale-grey: #f2f5f7;
$cool-grey: #999b9f;
$cool-grey-two: #a1aeb7;
$white-two: #f6f6f6;
$white-three: #fafafa;
$rouge: #c61519;


.breadcrumbs {
  padding: 4rem 0 5.9rem 0;
  ul{
    display: flex;
    align-items: center;
  }
  a{
    margin-right: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    color: #C3A37A;
    &:hover {
      color: #fad19d;
      transition: .25s;
    }
    &.active {
      color: #fad19d;
      &:hover {
        color: #C3A37A;
      }
    }
    span{
      margin: 0 .3rem;
    }
  }
  &-back{
    color: $cool-grey-two;
  }
  &-post{
    color: $gunmetal-two;
  }
}

.title-underline {
  position: relative;
  margin-bottom: 6.3rem;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: .1rem;
    background-color: $pale-grey;
    bottom: -2.1rem;
    left: 0;
  }

  h2 {
    display: inline;
    position: relative;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.36;
    color: $black;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: .2rem;
      background-color: $black;
      bottom: -2.4rem;
      left: 0;
      z-index: 1;
    }
  }
}


.success {
  &__wrapper{
    display: none;
  }
  &__backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(66, 75, 90, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__modal-wrapper{
    padding: 4rem 2rem;
    width: 28.8rem;
    height: 19.8rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: $white;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    svg{
      margin-bottom: 2rem;
    }
    p{
      font-size: 1.8rem;
      line-height: 1.48;
      font-weight: 400;
      color: $greyish-brown;
    }
  }
}



input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $cool-grey;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: $cool-grey;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: $cool-grey;
}
input:-moz-placeholder { /* Firefox 18- */
  color: $cool-grey;
}

option {
  width: 100%;
}
.header__categories-wrapper::-webkit-scrollbar {
  display: none;
}

.header__categories-wrapper  {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (max-width: 1366px) {
  .container {
    max-width: 98rem;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1023px) {
  .container {
    max-width: 90rem;
    margin: 0 auto;
    //padding-left: 2rem;
    //padding-right: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    max-width: 73rem;
    margin: 0 auto;

  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 60rem;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 650px) {
  .container {
    max-width: 45rem;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    max-width: 35rem;
    margin: 0 auto;
  }
  .breadcrumbs {
    padding: 2rem 0 2rem 0;

    ul{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }
    a{
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      text-decoration: none;
      span{
        margin: 0 .3rem;
      }
    }
    &-post-list{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
    }
    &-back{
      color: $cool-grey-two;
    }
    &-post{
      color: $gunmetal-two;
    }
  }
}
@media only screen and (max-width: 374px) {
  .container {
    max-width: 29rem;
    margin: 0 auto;
  }

  .title-underline {
    position: relative;
    margin-bottom: 4.6rem;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: .1rem;
      background-color: $pale-grey;
      bottom: -1.1rem;
      left: 0;
    }

    h2 {
      display: inline;
      position: relative;
      font-size: 2.1rem;
      font-weight: 700;
      line-height: 1.48;
      color: $black;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: .2rem;
        background-color: $black;
        bottom: -1.5rem;
        left: 0;
        z-index: 1;
      }
    }
  }
  .breadcrumbs {
    padding: 2rem 0 2rem 0;

    ul{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }
    a{
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.5;
      text-decoration: none;
      span{
        margin: 0 .3rem;
      }
    }
    &-post-list{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
    }
    &-back{
      color: $cool-grey-two;
    }
    &-post{
      color: $gunmetal-two;
    }
  }
}

